@model List<BoulderModel>

@using DataLibrary.Models;
@using DataLibrary.BusinessLogic



@foreach (var boulder in Model)
{
    <div class="container-fluid">
        <div class="text-light text-sm-center">
            <h1 class="brand-font-30">Below are all the available Betas for @boulder.Name</h1>
            <h2 class="brand-font-20">Location: @boulder.Location</h2>
            <h2 class="brand-font-20">Grade: @boulder.Grade</h2>


        </div>
    </div>

    List<PostModel> Posts = PostProcessor.LoadPostsByBoulder(boulder.Id);

    int numberOfPosts = Posts.Count();

    @*check if there are posts*@
    if (numberOfPosts != 0)
    {
        @*Send temp userId with the action*@
        <div class="row">
            <form asp-area="" asp-controller="Home" asp-action="Post" asp-route-boulderId="@boulder.Id" asp-route-userId="2">
                <a class="btn bg-green brand-font-dark" asp-action="Boulder">Back to Boulders</a> |
                <input type="submit" value="Upload Your Own Beta" class="btn bg-blue brand-font-dark" />
            </form>
        </div>
        int nOfPosts = 0;
        @foreach (var post in Posts)
        {
            string[] cardcolor = { "card-darkgrey", "card-lightgrey" };

            
            <div class="text-dark @cardcolor[nOfPosts] mt-3">
                <div class="row">
                    
                    <div class="column ml-5 mt-2">
                        @foreach (var user in UserProcessor.LoadUserById(post.UserId))
                        {
                            <h2 class="brand-font-30-dark">Beta by @user.UserName</h2>
                        }
                        <h2 class="brand-font-30-dark">Number of ratings: @post.NofRatings</h2>
                        <h2 class="brand-font-30-dark">Total rating: @post.TotRating</h2>
                    </div>
                    <iframe src="@post.VideoUrl"></iframe>
                </div>
            </div>
            nOfPosts++;
            if (nOfPosts > 1)
            {
                nOfPosts = 0;
            }
        }
    }
    else
    {
        <h2 class="brand-font-30">There are no Betas available for this Boulder yet.</h2>
        @*Send temp userId with the action*@
        <div class="row">
            <form asp-area="" asp-controller="Home" asp-action="Post" asp-route-boulderId="@boulder.Id" asp-route-userId="2">
                <a class="btn bg-green brand-font-dark" asp-action="Boulder">Back to Boulders</a> |
                <input type="submit" value="Upload Your Own Beta" class="btn bg-blue brand-font-dark" />
            </form>
        </div>
    }

    <div class="mt-5">
        <h2 class="brand-font-30">Admin Controll</h2>
        <a class="btn bg-green expand-hover-sm brand-font-dark" asp-area="" asp-controller="Home" asp-action="DeleteBoulderView" asp-route-boulderId="@boulder.Id" asp-route-numberOfPosts="@numberOfPosts">Delete Boulder</a>
    </div>


}
