@model List<BoulderModel>

@using DataLibrary.Models;
@using DataLibrary.BusinessLogic



@foreach (var boulder in Model)
{
    <div class="container-fluid">
        <div class="text-light text-sm-center">
            <h1 class="brand-font-30">Below are all the available Betas for @boulder.Name</h1>
            <h2 class="brand-font-20">Location: @boulder.Location</h2>
            <h2 class="brand-font-20">Grade: @boulder.Grade</h2>


        </div>
    </div>

    @*Retrieve posts for boulder*@
    List<PostModel> Posts = PostProcessor.LoadPostsByBoulder(boulder.Id);

    int numberOfPosts = Posts.Count();

    @*check if there are posts*@
    if (numberOfPosts != 0)
    {

        <div class="row">
            <form asp-area="" asp-controller="Home" asp-action="UploadVideo" asp-route-boulderId="@boulder.Id" asp-route-userId="2">
                @*Send temp userId with the action*@
                <a class="btn bg-green brand-font-dark" asp-action="Boulder">Back to Boulders</a> |
                <input type="submit" value="Upload Your Own Beta" class="btn bg-blue brand-font-dark" />
            </form>
        </div>
        int nOfPosts = 0;
        @foreach (var post in Posts)
        {
            string[] cardcolor = { "card-darkgrey", "card-lightgrey" };


            <div class="text-dark @cardcolor[nOfPosts] mt-3">
                <div class="row">

                    <div class="column ml-5 mt-2">
                        @foreach (var user in UserProcessor.LoadUserById(post.UserId))
                        {
                            <h2 class="brand-font-30-dark">Beta by @user.UserName</h2>
                        }
                        <h2 class="brand-font-30-dark">Number of ratings: @post.NofRatings</h2>
                        <h2 class="brand-font-30-dark">Total rating: @post.TotRating</h2>
                    </div>
                    <video width="640" height="360" controls>
                        <!-- MP4 must be first for iPad! -->
                        <source src="~/VideoUploads/@post.VideoUrl" type="video/mp4" /><!-- Safari / iOS video    -->
                        <source src="~/VideoUploads/@post.VideoUrl" type="video/mp4" /><!-- Firefox / Opera / Chrome10 -->
                        <!-- fallback to Flash: -->
                        <object width="640" height="360" type="application/x-shockwave-flash" data="__FLASH__.SWF">
                            <!-- Firefox uses the `data` attribute above, IE/Safari uses the param below -->
                            <param name="movie" value="__FLASH__.SWF" />
                            <param name="flashvars" value="controlbar=over&amp;image=__POSTER__.JPG&amp;file=__VIDEO__.MP4" />
                            <!-- fallback image. note the title field below, put the title of the video there -->
                            <img src="" width="640" height="360" alt="__TITLE__"
                                 title="No video playback capabilities, please download the video below" />
                        </object>
                    </video>                
                </div>
            </div>
            nOfPosts++;
            if (nOfPosts > 1)
            {
                nOfPosts = 0;
            }
        }
    }
    else
    {
        <h2 class="brand-font-30">There are no Betas available for this Boulder yet.</h2>

        <div class="row">
            <form asp-area="" asp-controller="Home" asp-action="UploadVideo" asp-route-boulderId="@boulder.Id" asp-route-userId="2">
                @*Send temp userId with the action*@
                <a class="btn bg-green brand-font-dark" asp-action="Boulder">Back to Boulders</a> |
                <input type="submit" value="Upload Your Own Beta" class="btn bg-blue brand-font-dark" />
            </form>
        </div>
    }

    <div class="mt-5">
        <h2 class="brand-font-30">Admin Controll</h2>
        <a class="btn bg-green expand-hover-sm brand-font-dark" asp-area="" asp-controller="Home" asp-action="DeleteBoulderView" asp-route-boulderId="@boulder.Id" asp-route-numberOfPosts="@numberOfPosts">Delete Boulder</a>
    </div>


}
